<!-- INCLUDE overall_header.html -->

<h2>Transports by Total Distance or Distance to Courseline</h2>

<div class="panel">
   <div class="inner"><span class="corners-top"><span></span></span>

   <div class="pnpfaq">
      <p>
<!-- PHP -->

function xmlspecialchars($text) {
   return str_replace('-' , ' ' , str_replace('&#039;', '&apos;', htmlspecialchars($text, ENT_QUOTES)));
}
function distance($lat1, $lon1, $lat2, $lon2) { 


return (60 * rad2deg(acos(sin(deg2rad($lat1)) * sin(deg2rad($lat2)) +  cos(deg2rad($lat1)) * cos(deg2rad($lat2)) * cos(deg2rad($lon1 - $lon2))))); 
}

include ( "../forum/config.php");

$username=$dbuser;
$password=$dbpasswd;
$database=$dbname;
$server=$dbhost;
$dbg=$_GET[dbg];
$color=$_GET[color];
$con = mysql_connect($dbhost,$dbuser,$dbpasswd)or die( "Unable to connect to database");			@mysql_select_db($dbname) or die( "Unable to select database");
$my_airport_saved=$_COOKIE['airport'];
$my_age_saved=$_COOKIE['my_age'];
$my_airport=$_POST["my_airport"];
$my_sort=$_POST["sort"];
$my_age= (integer) $_POST['my_age']  ;
$my_forum=$_POST["forum"];
$my_forum="5";
if ($my_sort == "T" ) 
   {
   $sortchar = "+";
   $sortdesc = "by Total Flight Distance";
   }
   else 
   {
   $sortchar = "-";
   $sortdesc = "By Distance from " . $my_airport . " to Courseline";
   }
if ($my_forum == "5" ) $forumdesc = "Animals Needing Transport";
   else {
   $forumdesc = "PNP5000";
   $moreconditions = " and phpbb_topics.topic_first_post_id = phpbb_topics.topic_last_post_id ";
   }
$query = 'select apt_id , apt_name , state , lat , lon from airports where apt_id = "' . strtoupper($my_airport) . '"';
   $result=mysql_query($query);
   $num = 0;
   if ( $result ) $num=mysql_numrows($result);
   if ($num > 0) { 
                   $myapt_name = mysql_result($result,0,"apt_name");
                   $myapt_id = mysql_result($result,0,"apt_id");
                   $mystate = mysql_result($result,0,"state");
                   $mylat = mysql_result($result,0,"lat");
                   $mylon = mysql_result($result,0,"lon");
				   }
   else {
$query = 'select apt_id , apt_name , state , lat , lon from airports where apt_id = "K' . strtoupper($my_airport) . '"';
   $result=mysql_query($query);
   $num = 0;
   if ( $result ) $num=mysql_numrows($result);
   if ($num > 0) { 
                   $myapt_name = mysql_result($result,0,"apt_name");
                   $myapt_id = mysql_result($result,0,"apt_id");
                   $mystate = mysql_result($result,0,"state");
                   $mylat = mysql_result($result,0,"lat");
                   $mylon = mysql_result($result,0,"lon");
				   }
        }
if ($num == 0)
{
echo '<html><body><form action="phpbb-5k-bydistance.php" method="post">
Airport ID <input type=text size=5 name=my_airport value="' . $my_airport_saved . '"><br>
Posts updated within <input type=text size=3 name=my_age value="' . $my_age_saved . '"> Days<br>

Sort By:<br>
<input name=sort type=radio value="D"> Distance between airport and courseline<br>  
<input name=sort type=radio value="T" checked> Total Distance (Airport to Sender to Receiver to Airport)<br>
<input type=submit>';
}
else
{
setcookie("airport",$my_airport,time()+60*60*24*30);
setcookie("my_age",$my_age,time()+60*60*24*30);
echo "<html><body>List $forumdesc Transports by $sortdesc " . '<form action="phpbb-5k-bydistance.php" method="post"><input name="Start Over" value="Start Over" type=submit></form>'
. "<table><th>Post</th><th>Text</th>";
if ( $dbg == "yes" ) echo "<th>Total Distance</th><th>$my_airport To Sender</th><th>Sender to Receiver</th><th>Receiver to $my_airport<th>Out of the Way</th>";
echo "<th>Map</th></tr>";

$query =   ' select '
         . ' phpbb_posts.post_subject , '
         . ' phpbb_posts.post_id , '
         . ' phpbb_posts.post_text , ' 
         . ' phpbb_topics.topic_id , '
         . ' phpbb_topics.topic_title , '
         . ' phpbb_topics.forum_id,  '
         . ' phpbb_topics.topic_time, '
         . ' phpbb_topics.pnp_sendzip, '
         . ' phpbb_topics.pnp_reczip, '
         . ' airports.lat, '
         . ' airports.lon, '
         . ' sendzip.city, '
         . ' sendzip.state, '
         . ' sendzip.lat, '
         . ' sendzip.lon, '
         . ' reczip.city, '
         . ' reczip.state, '
         . ' reczip.lat, '
         . ' reczip.lon, '
        
         . '

60 * degrees(acos(sin(radians(airports.lat)) * sin(radians(sendzip.lat)) + cos(radians(airports.lat)) * cos(radians(sendzip.lat)) * cos(radians(airports.lon - sendzip.lon)))) as dist1 ,

60 *  degrees(acos(sin(radians(airports.lat)) * sin(radians(reczip.lat)) + cos(radians(airports.lat)) * cos(radians(reczip.lat)) * cos(radians(airports.lon - reczip.lon)))) as dist2,

60 *  degrees(acos(sin(radians(reczip.lat)) * sin(radians(sendzip.lat)) + cos(radians(reczip.lat)) * cos(radians(sendzip.lat)) * cos(radians(reczip.lon - sendzip.lon)))) as dist3 


'
         . ' from phpbb_topics , '
         . ' airports, '
         . ' phpbb_posts, '
         . ' zipcodes sendzip, '
         . ' zipcodes reczip '
         . ' where phpbb_topics.forum_id = ' . $my_forum . ' and ' 

         . ' unix_timestamp() - phpbb_topics.topic_last_post_time < 86400 * ' . $my_age . ' and '

         . ' airports.apt_id = "' . $myapt_id . '" and '
         . ' phpbb_posts.post_id = phpbb_topics.topic_first_post_id and '
         . ' sendzip.zip = phpbb_topics.pnp_sendzip and '
         . ' reczip.zip = phpbb_topics.pnp_reczip ' . $moreconditions
         . ' ORDER BY  dist1 + dist2 ' . $sortchar . ' dist3 ';
if ( $dbg == "yes" ) echo '<br>' . $query . '<br>';
$result=mysql_query($query) or die ( $query );

$num=mysql_numrows($result);
$i=0;
while ($i < $num) {
      $post_id = mysql_result($result,$i,"phpbb_posts.post_id");
      $dist1 = mysql_result($result,$i,"dist1");
      $dist2 = mysql_result($result,$i,"dist2");
      $dist3 = mysql_result($result,$i,"dist3");
      $forum_id = mysql_result($result,$i,"phpbb_topics.forum_id");
      $topic_id = mysql_result($result,$i,"phpbb_topics.topic_id");
      $post_text = mysql_result($result,$i,"phpbb_posts.post_text");
      $topic_time = mysql_result($result,$i,"phpbb_topics.topic_time");
      $post_subject = mysql_result($result,$i,"phpbb_posts.post_subject");
      $fromzip = mysql_result($result,$i,"phpbb_topics.pnp_sendzip");
      $tozip = mysql_result($result,$i,"phpbb_topics.pnp_reczip");
      $fromcity = mysql_result($result,$i,"sendzip.city");
      $fromstate = mysql_result($result,$i,"sendzip.state");
      $tocity = mysql_result($result,$i,"reczip.city");
      $tostate = mysql_result($result,$i,"reczip.state");
      $haystack = " abcdefghijklmnopqrswtuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      $h=0;
      $clean_subject = "";
      while ($h < strlen ( $post_subject ) ) {
            $needle = substr ( $post_subject , $h , 1 );
            if ( strpos( $haystack , $needle )  !== false )  $clean_subject = $clean_subject . $needle ;
            $h++;
      }
      $h=0;
      $clean_text = "";
      $lastchar = " ";
      while ($h < min(200,strlen ( $post_text )) ) {
            $needle = substr ( $post_text , $h , 1 );
            if ( strpos( $haystack , $needle )   !== false  ) {
                 $clean_text = $clean_text . $needle ;
                 $lastchar = " ";
            }
            else
            {
                 $clean_text = $clean_text . $lastchar ;
                 $lastchar = "";
            }
                 
            $h++;
      }
            echo '<tr>'
                 . '<td><a href="http://pilotsnpaws.org/forum/viewtopic.php?f=5&t=' . $topic_id . '&p=' . $post_id . 
                 '" target="PNP">'
                 . $clean_subject . '<br>From: ' . $fromcity . ', ' . $fromstate . '(' . $fromzip . ') To: ' . $tocity 
                 . ', ' . $tostate . '(' . $tozip . ')'
                 . '</a></td><td>'
                 . $clean_text 
                 . '</td><td>';
if ($dbg == "yes") echo (int)($dist1+$dist2+$dist3)
                 . '</td><td>' 
                 . (int)$dist1
                 . '</td><td>'
                 . (int)$dist3
                 . '</td><td>'
                 . (int)$dist2
                 . '</td><td>'
                 . (int)($dist1+$dist2-$dist3)
                 . '</td><td>';
echo 
                  '<a href="http://maps.google.com/maps?q=http://www.pilotsnpaws.org/forum/phpbb_kmlb.php?fromzip=' . $fromzip . $tozip . $post_id . '" target="MAP">Map This Request</a></td>'
                 . '</tr>
';
      $i++;
}
echo '</table>';
}
echo'
</body>
</html>';
<!-- ENDPHP -->

      </p>
   </div>

   <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->